h1 {
	text-align: center;
}

p {
	text-align: center;
}


.first {color: red
}

#clarinet{border: black solid 1px
}#clarinet{border: greenyellow solid 1px;padding:20px;}
#image{border: red solid 20px}
